@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding-bottom: 0; /* Remove padding-bottom */
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --black: linear-gradient(to bottom right, #ca2acfb9 60%, #d455d8b9 40% , #ca2acfb9 60%);
  animation: smogAnimation 4s infinite;
  --white: #ffffffaf;
}

@keyframes --black {
  0% { opacity: 0.25; }
  50% { opacity: 0.50; }
  100% { opacity: 0.25; }
}

body {
  background: var(--black);
  font-family: "Inter", sans-serif;
  color: var(--white);
  display: flex;
  margin: 0;
  text-align: center;
  padding: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
}
